{% load static %}
<head>
    <title>Pattern Annotator</title>
    <!-- PREVIOUS CSS HERE -->
    <!-- RESET STYLESHEET-->
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" title="external style sheet">
    
    <!-- We also use jQuery -->
    <!--script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript" ></script--> 
    <script src="{% static 'js/jquery-3.1.1.js' %}" type="text/javascript" ></script>
    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}" title="external style sheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script-->
    

    <!-- HEADER CSS -->
    <link rel="stylesheet" href="{% static 'css/header_style.css' %}">
    <!--link rel="stylesheet" href="{% static 'css/register_style.css' %}"-->

    <!-- Favicon -->
    <link rel="icon" href="#">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <!-- ADD GENERAL STYLES -->
    <link rel="stylesheet" href="{% static 'css/general_style.css' %}" title="external style sheet">
    
    
    <!-- LOADING SCREEN STYLE -->
    <link rel="stylesheet" href="{% static 'css/style_loader.css' %}" title="external style sheet">

    <!--FA icons -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- MODAL -->
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" title="external style sheet">
    <!-- CSS -->
    {% block css %}
    {% endblock %}
    <!-- JAVASCRIPT -->
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <script src="{% static 'materialize/js/materialize.js' %}" type="text/javascript"></script>
    {% include "includes/navbar.html" %}
    {% include "includes/messages.html" %}
    {% include "includes/modal.html" %}
    {% include "includes/song_menu.html" %}

    <script src="{% static 'js/instructions_button.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/song_menu_button.js' %}"  type="text/javascript"></script>
    {% block content %}
    {% endblock %}
    
</body>
