{% extends "header.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}

<body>
    {% include "includes/messages.html" %}
    {% block content %}
        <div id="image_container" class="image_container">
            <div id="bg_image" class="bg_image"></div>
        </div>
        
        <div id="main_login" class="main_login">
            <div id="login" class="login">
                <h2>Login Form</h2>
                <hr/>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    
                    {#%{form.as_p}%#}
                    {% for field in form %}
                        <div class="input-field">
                            {{ field }}
                            <label>{{ field.label }}</label>
                        </div>  
                    {% endfor %}
                    <!--input type="text" name="username" autofocus="" required="" id="id_username" placeholder="Username"-->  
                    
                    <div class="reg_log_buttons" id="reg_log_buttons">
                    
                        <button class="btn_form" id="submit_form_button" type="submit">Login</button>
                        
                        <hr/>
                        
                        <br/>
                    </div>
                </form>

                <input  type="button" class="switch_button" value="Register" name="register"
                        onclick="location.href='/register'"/>
                
            </div>
        </div>
        
    {% endblock %}
</body>