{% extends "header.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/register_style.css' %}">
{% endblock %}

<body>
    {% include "includes/messages.html" %}
    {% block content %}
        <div class="image_container" id="image_container">
            <div id="bg_image" class="bg_image"></div>
        </div>
        
        <div id="main_register" class="main_register">
            <div id="register" class="register">  
                <h2>Registration Form</h2>

                <hr/>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="sub_entry" id="sub_entry">
                    
                    {% for field in form %}
                        <div class="input-field">
                            {{ field }}
                            <label>{{ field.label }}</label>
                        </div>
                        
                        {% if forloop.counter|divisibleby:"4" %}
                            </div>
                            
                        {% endif %}
                    {%endfor%}
                    
                    <div class="sub_entry" id="sub_entry">
                    {% for field in profile_form %}
                        <div class="input-field">
                            {{ field }}
                            <label>{{ field.label }}</label>
                        </div>
                        {% if forloop.counter|divisibleby:"4" %}
                            </div>
                            {% if forloop.counter != profile_form.fields|length %}
                                <div class="sub_entry" id="sub_entry">
                            {% endif %}
                        {% endif %}
                        
                    {%endfor%}
                    <!--/div-->

                    
                    <div class="reg_log_buttons" id="reg_log_buttons">
                        <br>

                        <button class="btn_form" id="submit_form_button" type="submit">Register</button>
                        
                        <hr/>
                        <br/>
                    </div>
                    
                </form>
                
                <input  type="button" class="switch_button" value="Login" name="login"
                        onclick="location.href='/login'"/>
                
                
            
                
            </div>
        </div>
        
        
    {% endblock %}  
</body>

