/*:root {

    --color_one: rgb(187, 160, 119);
    --color_two: #b7e6fd;
    --color_three: #362a21;
    --color_four: #feffff;
    --color_five: rgb(214, 198, 173);

}
*/
/*
body {
    height: auto;
    width: auto;
}    
*/
.nav-wrapper{
    background-color: var(--color_three);
}

.fa{
    font-size: 16px;
    margin-left: 3px;
}

nav ul a:hover{
    background-color: var(--color_nav_hover);/*#5e4a3a;*/
    /*background-color: var(--color_one);*/
}

.dropdown-content li>a, .dropdown-content li>span{
    background-color: white;
    color: var(--color_three);
}
.dropdown-content li>a:hover{
    background-color: var(--color_two);
}

.blue{
    background-color: var(--color_seven) !important;
}

#toast-container{
    z-index:999999;
}

#user_dropdown{
    min-width: 80px;
}

#dropdown1{
    min-width: 80px !important;
}