.loader {
    border: 16px solid var(--color_one);
    border-radius: 50%;
    border-top: 16px solid var(--color_two);
    width: 75px;
    height: 75px;
    position: absolute;
    top: 42%;/*50%;*/
    left:50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading_overlay{
    /* QUICK FIX*/
    height:100%;
    width:100%;
    margin: 69px 0 0 0;
    position:absolute;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:var(--color_five);
    /*transition:ease-in-out 0.05s !important;
    -webkit-transition:ease-in-out 0.05s !important;
    -moz-transition:ease-in-out 0.05s;*/
   
}