:root {

    --color_one: rgb(187, 160, 119);
    --color_two: rgb(183, 230, 253);
    --color_three: #655041;/*rgb(53, 41, 32);*/
    --color_four: rgba(187, 160, 119, 0.42);;
    --color_five: rgb(214, 198, 173);
    --color_six: rgba(53, 41, 32, 0.42);
    --color_seven: #6bb0cc;/*#318db1;*/
    --color_nav_hover: #4e3e32;
}
/*:root {

    --color_one:   rgb(187, 160, 119);
    --color_two:   rgb(183, 230, 253);
    --color_three: rgb(54, 42, 33);
    --color_four:  rgb(254, 255, 255);
    --color_five:  rgb(214, 198, 173);

}*/
body {
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--color_five);
}

/* COLOR THREE
#4c3a2d
#655041 

COLOR SEVEN?
#67aac5*/