.bg_image {
    /* The image used */
    background-image: url("../img/notes0.jpg");
    /* Add the blur effect */
    filter: blur(6px);
    -webkit-filter: blur(6px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login{
    
    width: 40%;
    margin: auto;
    border-radius: 10px;
    font-family:raleway;
    border: 2px solid  var(--color_one);
    background-color: white;/*#FEFFED*/
    padding: 10px 40px 25px;
    margin-top: 70px;
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#main_login{
    width:960px;
    margin:50px auto;
    font-family:raleway;
    z-index: 1;
    position: absolute;
    top: 40%;/*35%;*/
    left: 50%;
    transform: translate(-50%, -50%);
}



h2{
    background-color: var(--color_five);/*#FEFFED*/
    text-align:center;
    border-radius: 7px 7px 0 0;
    margin: -10px -40px;
    padding: 30px;
    font-size: 40px;
    color: var(--color_three);
}

.sub_entry {
    width: 27%;
    float: left;
    margin-left:3%;
    margin-right:3%;
}

.reg_log_buttons{
    width: 100%;
    float: left;
}

button[type=submit]{
    width: 60%;
    background-color: var(--color_one);/*rgb(85, 192, 148);/*#FFBC00;*/
    color: white;
    border: 0px /*2px*/ solid var(--color_one);
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

button[type=submit]:hover{
    background-color: var(--color_five);
    border: 0px /*2px*/ solid var(--color_five);
}


input[type=button]{
    width: 45%;
    background-color: var(--color_one);/*rgb(85, 192, 148);/*#FFBC00;*/
    color: white;
    border: 0px /*2px*/ solid var(--color_one);
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    display: block;
    margin: 10px auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

input[type=button]:hover{
    background-color: var(--color_five);
    border: 0px /*2px*/ solid var(--color_five);
}


/* Materialize fix */


.input-field > label{
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
}

.input-field > label:not(.label-icon).active {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    color: var(--color_seven) !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid var(--color_seven) !important;/*#26a69a !important*/;
    box-shadow: 0 1px 0 0 var(--color_seven) !important
} 


.image_container{
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.navbar{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 
                0 3px 1px -2px rgba(0, 0, 0, 0.46), 
                0 1px 5px 0 rgba(0, 0, 0, 0.6);
}

hr{
    border-color: var(--color_six);
    margin: 8px 0px;
}