
/*:root {

    --color_one: rgb(187, 160, 119);
    --color_two: rgb(183, 230, 253);
    --color_three: rgb(53, 41, 32);
    --color_four: rgba(187, 160, 119, 0.42);;
    --color_five: rgb(214, 198, 173);
    --color_six: rgba(53, 41, 32, 0.42);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--color_five);
} */

/* INSTRUCTIONS button asthetics*/
.button_reset {
    position: absolute;    
    right: 25.3906vw;
    height: 50px;
    width: 6.5104vw;
    background-color: #000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 4px;
}
.button_reset:hover{
    background-color: rgb(75, 75, 75);/*rgb(63, 63, 66);*/
}

/* SUBMIT button */
.button_submit {
    position: absolute;
    right: 5%;
    height: 50px;
    width: 200px;
    background-color: var(--color_seven);/* rgb(4, 119, 39);*/
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
    border-radius: 4px;
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}
.button_submit:hover{
    background-color: var(--color_two);/*rgb(67, 168, 98);*/
    color: var(--color_three);
}
/* NEXT PAGE button */
.button_next_page, .cover_button_next_page, .button_previous_page, .cover_button_previous_page{
    /*position: absolute;*/
    height: 50px;
    width: 50px;
    background-color: var(--color_one);
    border: none;
    color: var(--color_three);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 4px;
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}
.button_next_page, .cover_button_next_page{
    right:5px;
}

.button_next_page, .button_previous_page{
    /* SHADOWS */
}
.button_next_page:hover, .button_previous_page:hover{
    background-color: var(--color_two)!important;
}
/* COVER NEXT PAGE button */
.cover_button_next_page {
    background-color: var(--color_four);
    color: var(--color_six);
}

/* PREVIOUS PAGE button */
.button_previous_page, .cover_button_previous_page {
    right:60px;
}


/* PREVIOUS PAGE button */
.cover_button_previous_page {
    background-color: var(--color_four);
    color: var(--color_six);
}


.button_play_it, .button_stop_it, .button_pause_it{
    height: 32px;/*50px;*/
    width: 50px;/*70px;*/
    /*position: absolute;*/;
    float: left;
    background-color: var(--color_one);
    border: none;
    color: var(--color_three); 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 0px 20px 5px;
    font-family: sans-serif;
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}


/* PLAY button asthetics*/
.button_play_it {
    padding: 2px 0px 0px 0px; 
}

/* STOP button asthetics*/
.button_stop_it {
    padding: 4px 0px 0px 0px;
    font-size: 18px;
}

.button_play_it:hover, .button_stop_it:hover, .button_pause_it:hover{
    background-color: var(--color_two);
}


.svg_text{
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    font-size: 20px;
}

.svg_music{
    /*border-style: solid;*/
    background-color: #fff;
    padding: 10px 0px 30px 0px;
    /*border-color: var(--color_one);
    border-width: 2px;*/
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.div_next_prev{
    display: block;
    text-align: center;
    margin: 30px 0px 0px 0px;
    cursor: default;
}

.div_page_number{
    display: block;
    text-align: center;
    margin: 0px;
}   

.page_number, .task_number{
    border: none;
    color: var(--color_six);
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 0px 2px;
    cursor: default;
    border-radius: 4px;
    padding: 10px 0px;
}

.task_number{
    position: absolute;
    right: 5%;
    width: 200px;
}

button {
    font-family: sans-serif;
}


/*.btn_pick_song_done, .btn_pick_song_not_done, .btn_current_song{
/*    color: var(--color_three);
/*    height: 50px;/*50px;*/
/*    width: 50px;/*70px;*/
/*    border: none;
/*    text-align: center;
/*    text-decoration: none;
/*    display: inline-block;
/*    font-size: 20px;  
/*    cursor: pointer;
/*    border-radius: 4px;
/*    margin: 20px 0px 20px 5px;
/*    font-family: sans-serif;
/*    /* SHADOWS */
/*    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
/*                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
/*                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
/*    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
/*                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
/*                0 1px 5px 0 rgba(0, 0, 0, 0.2);
/*    -webkit-transition: background-color .2s ease-out;
/*    transition: background-color .2s ease-out;
/*} */

.btn_pick_song_done, .btn_pick_song_not_done, .btn_current_song{
    color: var(--color_three);
    height: 50px;/*50px;*/
    /*width: 50px;*//*70px;*/
    /*position: absolute;*/;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;  
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 0px 20px 5px;
    font-family: sans-serif;
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}


/*BTN PICK SONG DONE*/
#btn_pick_song_done{
    background-color: var(--color_four);
    cursor: default;
}

#btn_current_song{
    background-color: var(--color_two);
}


/* BTN PICK SONG NOT DONE*/
#btn_pick_song_not_done{
    background-color: var(--color_one) !important;
}
#btn_pick_song_not_done:hover{
    background-color: var(--color_two) !important;
}
