<!-- The Modal -->
<div id="overlay_instructions" class="modal">
        
    <!-- Modal content -->
    <div class="modal_content_custom_no">
        <div class="modal-header_custom">
            <span class="close modal-close">&times;</span>
            <p>Welcome to the Pattern Annotator</p>
        </div>
        <div class="modal-body_custom">
            <p>The goal of the site is to allow users to find and submit patterns found in music.</p>
            <br>
            <p>A musical pattern or motive is defined as a short musical idea, a salient recurring figure,
                musical fragment, or succession of notes that has some special
                importance in or is characteristic of a composition. It
                shouldn’t be longer than a musical phrase. If you find a
                motive that is similar to another (or multiple versions of a
                motive), choose the one that you think is the most
                representative.
            </p>
            <br>
            <p>To begin, click on a note to mark it as the start of a pattern. The starting note will be coloured <span style="color:blue;">blue</span>. 
                Next, click on another note to mark the end of that pattern.
                All of the notes between the start and the end will be coloured  <span style="color:red;">red</span>, thus representing a marked pattern.
                To mark multiple patterns simply repeat the process.
                Once a pattern is finalised you can rate it from 1 (not as relevant) to 3 (highly relevant). 

            </p>
            <br>
            <p>To delete an UNFINISHED pattern click on its starting note, which is coloured blue. 
            </p>
            <p>To delete an already FINISHED pattern press on the X button, which can be found in the right corner of each pattern.
            </p>
            <br>
            <p> To navigate the sheet music use the buttons located below the sheet music.
                You can also use the arrow keys on your keyboard to achieve the same result.

                Once you are finished click on the SUBMIT PATTERNS button and click OK. The patterns will then be submitted and the site will take you to your next task.
            </p>
            <br>
            
            <p>To zoom out or in press - or +.</p>
            <p>To use the music player simply click on the play button. You can also navigate the song by clicking on the song progress bar in the top left.</p>

        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $('#overlay_instructions').modal({startingTop: '10%', endingTop: '16%',});
    });
</script>