{% url 'main:index' as index %}
{% url 'main:login' as login %}
{% url 'main:register' as register %}
{% url 'main:password_reset' as password_reset %}
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/logout">Logout</a></li>
</ul>
<ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
        <li><a onclick="open_song_menu()">Select song</a></li>
        <li><a onclick="open_instructions()" class="sidenav-close" >Instructions</a></li>
        <li><a href="/logout">Logout</a></li>   
    
    {% else %}
        <li><a onclick="open_instructions()">About</a></li>          
        {% if request.path == login %}
            <li><a href="/password_reset">Forgot password?</a></li>
            <li><a href="/register">Register</a></li>
        {% elif request.path == register %}
            <li><a href="/password_reset">Forgot password?</a></li>
            <li><a href="/login">Login</a></li>
        {% elif request.path == password_reset %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        {% else %}
            <li><a href="/password_reset">Forgot password?</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>         
        {% endif %}
    {% endif %}
</ul>

<nav class="navbar" id="navbar">
    <div class="nav-wrapper" id="nav-wrapper">
        <a href="#" class="brand-logo" style="margin-left:20px; margin-right:20px">Pattern Annotator</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"> 
            {% if user.is_authenticated %}
                <li><a onclick="open_song_menu()">Select song</a></li>
                <li><a onclick="open_instructions()">Instructions</a></li>
                <!-- Dropdown Trigger -->
                <li><a class='dropdown-trigger' id="user_dropdown" href='#' data-target='dropdown1'>{{user.username}} <i class="fa fa-caret-down"></i></a></li>
                
            {% else %}
                <li><a onclick="open_instructions()">About</a></li>
                
                {% if request.path == login %}
                    <li><a href="/password_reset">Forgot password?</a></li>
                    <li><a href="/register">Register</a></li>

                {% elif request.path == register %}
                    <li><a href="/password_reset">Forgot password?</a></li>
                    <li><a href="/login">Login</a></li>

                {% elif request.path == password_reset %}

                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                {% else %}
                    <li><a href="/password_reset">Forgot password?</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    
                {% endif %}
                
            {% endif %}
        </ul>
    </div>
</nav>
<script>
    $('.sidenav').sidenav({
        "edge": "right",
    });

    $(".dropdown-trigger").dropdown({
        "constrain_width": true, 
        "coverTrigger": false,
        "alignment": "top",
    });
    
    function open_instructions(){
        $('#overlay_instructions').modal('open');
    }
    function open_song_menu(){
        show_song_menu();
    }
</script>
    