<!-- The Modal -->
<div id="overlay_song_menu" class="modal">
        
    <!-- Modal content -->
    <div class="modal_content_custom_no">
        <div class="modal-header_custom">
            <span class="close modal-close">&times;</span>
            <p>Pick a song to annotate</p>
        </div>
        <div class="modal-body_song_menu">
            <p>
                {#{ request.user.profile.song_list }#}
                {% for song in song_names %}
                    {#% if forloop.counter in request.user.profile.song_list %#}
                        <!--button class="btn_pick_song_done" id="btn_pick_song_done">{{ forloop.counter }}</button-->
                    {#% else %#}
                    <!--button class="btn_pick_song_not_done" id="btn_pick_song_not_done" onclick="close_song_menu();no_submit_load_next('{{ forloop.counter0 }}'); ">{{ forloop.counter }}</button-->
                    <button class="btn_pick_song_not_done" id="btn_pick_song_not_done" song_id="{{forloop.counter}}" onclick="close_song_menu();no_submit_load_next('{{ forloop.counter0 }}'); ">{{ song }}</button>
                    
                    {#% endif %#}
                {% endfor %}
            </p>
        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $('#overlay_song_menu').modal({startingTop: '10%', endingTop: '16%',});
    });
    
</script>