{% extends "header.html" %}
{% load static %}
    
{% block css %}
    <!-- add styles in seperate file, from css folder-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" title="external style sheet">
    <!--link rel="stylesheet" href="{% static 'css/modal.css' %}" title="external style sheet"-->

    <!-- MIDIPLAYER STYLESHEET -->
    <link rel="stylesheet" href="{% static 'css/midiplayer.css' %}" title="external style sheet" />
{% endblock %}
{% block scripts %}
    <!-- JAVASCRIPT -->
    <!--/////////////////////--> 
    <!-- The Verovio toolkit -->   
    <script src="https://www.verovio.org/javascript/develop/verovio-toolkit.js" type="text/javascript" ></script>
    <!-- We also use jQuery -->
    <!--script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript" ></script-->
    <script src="{% static 'js/jquery-3.1.1.js' %}" type="text/javascript" ></script>
    <!-- Basic events from example 02 -->
    <script src="{% static 'js/basic-events.js' %}" type="text/javascript" ></script>
    <!--/////////////-->
    <!-- MIDI Player -->
    <!--/////////////-->
    <script type="text/javascript" language="javascript" src="{% static 'js/midi-player/wildwebmidi.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/midi-player/midiplayer.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/output_xml.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/svg_rect.js' %}"></script>
    <!-- TRUE MIDI PLAYER COMPONENTS-->
    <!-- shim -->
    <script src="{% static 'js/midi_player_scripts/inc/shim/Base64.js'       %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/shim/Base64binary.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/shim/WebAudioAPI.js'  %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/shim/WebMIDIAPI.js'   %}" type="text/javascript"></script>
    <!-- jasmid pmidikage -->
    <script src="{% static 'js/midi_player_scripts/inc/jasmid/stream.js'   %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/jasmid/midifile.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/jasmid/replayer.js' %}" type="text/javascript"></script>
    <!-- midi.js midickage -->
    <script src="{% static 'js/midi_player_scripts/audioDetect.js'     %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/gm.js'              %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/loader.js'          %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/plugin.audiotag.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/plugin.webaudio.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/plugin.webmidi.js'  %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/player.js'          %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/synesthesia.js'     %}" type="text/javascript"></script>
    <!-- utils -->
    <script src="{% static 'js/midi_player_scripts/util/dom_request_xhr.js'     %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/util/dom_request_script.js'  %}" type="text/javascript"></script>
    <!-- includes -->
    <script src="{% static 'js/midi_player_scripts/inc/timer.js'      %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/colorspace.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/midi_player_scripts/inc/event.js'      %}" type="text/javascript"></script>
{% endblock %}
    
{% block content %}
    <body>
        
        

        <!-- LOADING OVERLAY -->
        <div class="loading_overlay" id="loading_overlay">
            <div class="loader"></div>
        </div>

        
        </div>
        <!--//////////////////////////////////////////////////////-->         
        <!-- The div where we are going to insert the MIDI Player -->
        <!--//////////////////////////////////////////////////////--> 
        <div class="player_and_buttons">
            <!-- MIDI PLAYER -->
            <div id="player" class="player_div"></div>

        
            <!-- PLAY BUTTON -->
            <button onclick="play_midi()" id="load_midi_and_play" class="button_play_it" type="button" float="left">►</button>
            <!-- PAUSE BUTTON -->
            <button style="display:none" onclick="pause_the_midi()" id="pause_midi" class="button_pause_it" type="button" float="left">&#10074;&#10074;</button>
            <!-- RESUME BUTTON -->
            <button style="display:none" onclick="resume_midi()" id="resume_midi" class="button_play_it" type="button" float="left">►</button>
            <!-- STOP BUTTON -->
            <button style="display:none" onclick="stop_midi()" id="stop_midi" class="button_stop_it" type="button">◼</button>
        </div> 

    
        <!-- CONTROL BUTTONS -->
        <!--div id="button_div" float="right"-->
            <!-- RESET BUTTON -->  
            <!--button id="button_reset" onclick="reset_patterns()" class="button_reset" type="button">RESET</button-->
        <!--/div-->
        
        <!-- The Modal -->

            
        <!-- Warning modal for pattern marking -->
        <div id="overlay_warning" class="modal">
            <!-- Modal content -->
            <div class="modal_content_custom">
                <div class="modal_header_warning_custom">
                    <span class="close_warning modal-close" >&times;</span>
                    <p>Warning</p>
                </div>
                <div class="modal_body_warning_custom">
                    <p><span style="color:crimson">&#9888;</span>&emsp; The end of the pattern cannot be before its start &emsp;<span style="color:crimson">&#9888;</span></p>
                </div>
            </div>
        </div>

        <!-- Warning modal for unfinished pattern  -->
        <div id="submission_warning" class="modal">
            <!-- Modal content -->
            <div class="modal_content_custom">
                <div class="modal_header_warning_custom">
                    <span class="close_warning modal-close" >&times;</span>
                    <p>Warning</p>
                </div>
                <div class="modal_body_warning_custom">
                    <p><span style="color:crimson">&#9888;</span>&emsp;Unfinished patterns are present in your submission &emsp;<span style="color:crimson">&#9888;</span></p>
                </div>
            </div>
        </div>

        <!-- Submission confirmation modal  -->
        <div id="submission_confirmation" class="modal">
            <!-- Modal content -->
            <div class="modal_content_custom">
                <div class="modal-header_custom">
                    <span class="close_warning modal-close" >&times;</span>
                    <p>Submit patterns?</p>
                </div>
                <div class="modal-body_custom" id="modal_confirm_body">
                    <p>Submit the patterns and move to the next task?</p>
                </div>
                <div class="modal_footer_custom">
                    <button type="button" onclick="submit_and_load_next(true)" class="btn btn-default" id="button_submission_confirm">Confirm</button>
                    <button type="button" onclick="submit_and_load_next(false)" class="btn btn-default" id="button_submission_cancel">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Success message, all tasks have been completed  -->
        <div id="modal_the_end" class="modal">
            <!-- Modal content -->
            <div class="modal_content_custom">
                <div class="modal-header_custom">
                    <span class="close_warning modal-close" >&times;</span>
                    <p>Fin</p>
                </div>
                <div class="modal-body_custom" id="modal_confirm_body">
                    <p>Thank you for participating in the experiment! Research results will be published soon.</p>
                </div>
            </div>
        </div>
        <!--//////////////////////////////////////////////--> 
        <!-- The div where we are going to insert the SVG -->
        <!--//////////////////////////////////////////////-->
        
        
        <div align="center" id="svg_output" class="svg_output"></div>

        <div class="div_next_prev" id="button_div" >
            
            <!-- PREVIOUS PAGE BUTTON -->
            <button onclick="prevPage()" id="button_previous_page" class="button_previous_page" type="button" >&#8249;</button>
            <button style="display:none" id="cover_button_previous_page" class="cover_button_previous_page" type="button" >&#8249;</button>
            <!-- NEXT PAGE BUTTON -->
            <button onclick="nextPage()" id="button_next_page" class="button_next_page" type="button" >&#8250;</button>
            <button style="display:none" id="cover_button_next_page" class="cover_button_next_page" type="button" >&#8250;</button>
            
            <!-- NEXT BUTTON -->
            <button onclick="pressed_submit_patterns_button()" id="next" class="button_submit" type="button" float="right">Submit Patterns</button>
            
        </div>
        <div class="div_page_number" id="button_div" >
            
            <!-- PAGE NUMBER BUTTON -->
            <p class="page_number" id="page_number">1/1</p>

            <!-- PAGE NUMBER BUTTON -->
            <p class="task_number" id="task_number">1/1</p>

        </div>
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
        <!-- Call the script for the midi player -->
        <script src="{% static 'js/main_annotator.js' %}" type="text/javascript"></script>     
        
        <!--script src="{% static 'js/instructions_button.js' %}"  type="text/javascript"></script-->
    </body>
{% endblock %}
