#midiPlayer_div{
    
    /*height:36px;*/
    background: var(--color_one);
    border-radius: 3px;
    display: inline-block;
    /* SHADOWS */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#midiPlayer_bar{
    height:12px;    
    background:#fff;
    cursor:pointer;
    display:inline-block;
    border-radius: 2px;
    width: 384px;/*20vw;*/
}
#midiPlayer_progress{
    margin:0;
    background:var(--color_two);
    width:0;
    height:100%;
    border-radius:2px;  
}
#midiPlayer_playingTime, #midiPlayer_totalTime{
    width: 56px;/*2.9297vw;*/
    margin:8px;
    font-size:16px;
    text-align:center;
    font-family:arial;
    display:inline-block;
    color:var(--color_three);
}

#midiPlayer_play{
    display:inline-block
}

.player_div{
    display:inline-block;
    float: left;
    margin: 20px 0px 20px 5%;
}

/* FIX materialize */
.svg_output{
    box-sizing: initial;
}