/* The Modal (background) */
.modal_custom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
/*
.modal_content_custom {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 0px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s
}
*/
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close, .close_warning {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.close:hover, .close_warning:hover,
.close:focus, .close_warning:focus {
    color: var(--color_two);
    text-decoration: none;
    cursor: pointer;
}

.modal-header_custom, .modal_header_warning_custom {
    font-size: 24px;
    padding: 16px 16px;
    background-color: #3d3027;/*var(--color_three);*/
    color: white;
}

.modal-body_custom, .modal_body_warning_custom  {
    padding: 40px 40px;
    padding-top: 30px;
}

.modal-footer_custom {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal_header_warning_custom{
    background-color: crimson;
}
.modal_body_warning_custom{
    /*color: crimson;*/
    text-align: center; 
}

.modal_footer_custom{
    text-align: right;
    padding: 16px 16px 16px 16px;
}

#modal_confirm_body{
    padding: 30px 40px 30px 40px;
}

#button_submission_confirm, #button_submission_cancel{
    background-color: var(--color_one);
}

#button_submission_confirm:hover, #button_submission_cancel:hover{
    background-color: var(--color_seven);
}

.modal{
    width: 35%;
}