{% extends 'header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block title %}Forgot Your Password?{% endblock %}

<body>
    {% block content %}
        <div id="image_container" class="image_container">
            <div id="bg_image" class="bg_image"></div>
        </div>
        <div id="main_pass_reset" class="main_pass_reset">
            <div id="pass_reset" class="pass_reset">
                <h2>Forgot your password?</h2>
                <hr/>
                <br>
                <p class="para_text">Enter your email address below, and we'll email you instructions for setting a new password.</p>
                <br>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-field">
                            {{ field }}
                            <label>{{ field.label }}</label>
                        </div>  
                    {% endfor %}
                    
                    <input  type="submit" class="switch_button" value="Reset password">
                </form>
                
            </div>
        </div>
        
    {% endblock %}
</body>


