{% extends 'header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
    <div id="image_container" class="image_container">
        <div id="bg_image" class="bg_image"></div>
    </div>
    <div id="main_pass_reset" class="main_pass_reset">
        <div id="pass_reset" class="pass_reset">
        {% if validlink %}
            <h2>Change password</h2>
            <hr/>
            <br>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-field">
                        {{ field }}
                        <label>{{ field.label }}</label>
                    </div>  
                {% endfor %}
                <input type="submit" class="switch_button" value="Change password">
            </form>
        {% else %}
            <br>
            <p class="para_text">This password reset link is invalid, possibly because it has already been used.
                Please request a new password reset.</p>
            <br>
        {% endif %}
        </div>
    </div>
{% endblock %}